.root {
  margin-left: 200px;
  width: 968px;
  height: 879px;
  background: #ffffff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  padding: 64px;

  .Heading {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 15px;
  }

  .Content {
    margin: 16px;
  }

  .ButtonBase {
    border-radius: 2px;
    border: 1px solid black;
    padding: 16px;
    cursor: pointer;
    margin-top: 50px;
    background: #ffffff;
    border: 1px solid #f6dff7;
    box-sizing: border-box;
    border-radius: 12px 0px 0px 12px;
    color: #705ed8;
  }
  .ButtonBase.active {
    background-color: #f6dff7;
    color: #333333;
  }

  .ButtonRight {
    box-sizing: border-box;
    border-radius: 0px 12px 12px 0px;
  }
}
